engine-strict = true
save-prefix=""
prefer-workspace-packages = true
link-workspace-packages = true
# this is for npm, to avoid multi-semantic-release issue
# example error code: 
# npm error code EUNSUPPORTEDPROTOCOL
# npm error Unsupported URL Type "workspace:": workspace:*
workspaces-update = false

