@tailwind base;
@tailwind components;
@tailwind utilities;

/* START Custom css */
*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: #bbbfc7; /* 2 */
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/
a {
  color: inherit;
  text-decoration: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-weight: inherit; /* 1 */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

@media all {
  .page-break {
    display: none;
  }
}

@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
}

@media print {
  .page-break {
    display: block;
    page-break-before: always;
  }
}

/* make next.js/storybook main div full height */
#__next,
#__next > div,
#storybook-root,
#storybook-root > div {
  height: 100%;
}
